@use './variables.scss' as *;

.Navigation-section {
  padding: 20px;
  border-radius: 15px;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
