@use './variables.scss' as *;

.Navigation-section {
  padding: 20px;
  border-radius: $container-border-radius;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#playlist-song-and-artist-name {
  h3,
  p {
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 1110px) {
      width: 80%;
    }
  }
}
